h1 {  
  color:darkmagenta;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}

body, p {
  color:rgb(14, 167, 151);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;

}